{% block content %}
    <h2>Expenses for {{budget.name}}</h2>
    {%if expenses %}
        <ul>
            {% for expense in expenses %}
                <li>
                    <a>{{ expense.name }} - ${{expense.amount}}</a><br>
                    <a href="{% url 'edit_expense' expense.id %}">Edit</a>
                    <a href="{% url 'delete_expense' budget.id expense.id %}">Delete</a>

                    
                </li>
            {% endfor %}

        </ul>
        <p>Total Expenses: ${{ total_expenses }}</p>
        <p>Remaining Budget: ${{ remaining_budget }}</p>
    {% else %}
        <p>No expenses for this budget yet.</p>
        {% endif %}
    <a href="{% url 'add_expense' budget_id=budget.id %}">Add Expense</a><br>
    <a href="{% url 'budget_list'%}">Back to budgets</a>
{% endblock %}